<table id="editor">
  <tr>
    <td>
      <face #upFace [id]="faceIdEnum.up"></face>
    </td>
  </tr>
  <tr>
    <td>
      <face #frontFace [id]="faceIdEnum.front"></face>
    </td>
    <td>
      <face #rightFace [id]="faceIdEnum.right"></face>
    </td>
  </tr>
</table>

<preset *ngFor="let preset of presets" [name]="preset.name" (click)="handlePresetClick(preset)"></preset>

<button id="generate-button" (click)="handleGenerateClick()">Generate</button>
<img *ngIf="imageUrl" [src]="imageUrl">